<!-- templates/registration/login.html -->
{% extends 'base.html' %}



{% block title %}Login{% endblock %}

{% block content %}
<header><img src="https://idp.mines.edu/idp/images/Mineslogo.png" alt="Colorado School of Mines"></header>
<h2>Login</h2>
<form method="post" action="{% url 'dappx:user_login' %}">
    {% csrf_token %}
          <label>Username:</label>
          <input type="text" name="username" placeholder="Username">
    <input type="submit" name="" value="Login">
</form>
{% endblock %}