<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'evaluation/style.css' %}">
<body>
{% block title %}Login{% endblock %}

{% block content %}
<header><img src="https://idp.mines.edu/idp/images/Mineslogo.png" alt="Colorado School of Mines"></header>
<h2>Student and Mentor Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}
</body>

