{% extends "admin/base_site.html" %}
{% load static %}
{% block branding %}
<!--Header at the top of the page which links to the admin login and changes the link name-->
<h1><a id="site-name" href="{% url 'admin:index' %}">Feedback Administration</a></h1>
{% endblock %}
<!--Getting rid of the "Home" link at the top of the page-->
{% block breadcrumbs %}
{% endblock %}


{% block title %}{{ title }} {{ site_title|default:_('Peer Feedback Login') }}{% endblock %}

{% block content %}
<!-- Adding Mines logo in header -->
<header><img src="https://idp.mines.edu/idp/images/Mineslogo.png" alt="Colorado School of Mines"></header>
{% if user.is_authenticated %}
<h2><a href="{% url 'evaluation:index' %}">Submit Feedback</a></h2>
<p><a href="{% url 'logout' %}">Logout</a></p> <!-- logoff buttton assigned -->
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">Login</a> <!-- logoff page -->
{% endif %}
{% endblock %}
{% block nav-global %}{% endblock %}